In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split
import sys
sys.path.append("..")

In [78]:
!pwd

/Users/liangkuang/GitHub/medium/items-recommender/notebooks

# Load the data

In [4]:
# two datasets in csv format
# ** recommend_1.csv
# ** trx_data.csv
customers = pd.read_csv("../data/recommend_1.csv")
transactions = pd.read_csv("../data/trx_data.csv")

In [5]:
# preview the data
print(customers.shape)
print(transactions.shape)

(1000, 1)
(62483, 2)

In [6]:
customers.head()

   customerId
0        1553
1       20400
2       19750
3        6334
4       27773

In [7]:
transactions.head()

   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2

## Data preparation

In [16]:
# Create data with user, item and target field
data = pd.melt(transactions.set_index('customerId')['products'].str.split("|", n = -1, expand = True).reset_index(),
              id_vars = ['customerId'],
              value_name = 'products')\
        .dropna().drop(['variable'], axis = 1) \
        .groupby(['customerId', 'products']) \
        .agg({'products': 'count'}) \
        .rename(columns = {'products': 'purchase_count'}) \
        .reset_index() \
        .rename(columns = {'products': 'productId'})
data['productId'] = data['productId'].astype(np.int64)

In [18]:
print(data.shape)
data.head()

(133585, 3)

   customerId  productId  purchase_count
0           0          1               2
1           0         13               1
2           0        136               2
3           0        157               1
4           0         19               3

## Create dummy 
If one buys an item, then purchase_dummy are set to 1.

In [19]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(data)

## Normalize item values across users
We normalize purchase frequency of each item across users by first creating a user-item matrix as follows

In [30]:
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values = 'purchase_count',
                              index = 'customerId', columns = 'productId')
    df_matrix_norm = (df_matrix - df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars = ['customerId'],
                  value_name = 'scaled_purchase_freq').dropna()

In [24]:
df_matrix = pd.pivot_table(data, values = 'purchase_count', 
                          index = 'customerId', columns = 'productId')
print(df_matrix.shape)
df_matrix.head()

(24429, 300)

productId,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
customerId,,,,,,,,,,,,,,,,,,,,,
0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_matrix_norm = (df_matrix - df_matrix.min())/(df_matrix.max() - df_matrix.min())
df_matrix_norm.head()

productId,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
customerId,,,,,,,,,,,,,,,,,,,,,
0,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# create a table for input to the modeling
d = df_matrix_norm.reset_index()
d.index.names = ['scaled_purchase_freq']
data_norm = pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

(133585, 3)

    customerId productId  scaled_purchase_freq
9            9         0              0.133333
25          25         0              0.133333
32          33         0              0.133333
35          36         0              0.133333
43          44         0              0.133333

# Split train and test set
We use 80:20 ratio for our train_test set size

In [31]:
def split_data(data):
    train, test = train_test_split(data, test_size = 0.2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [32]:
train_data, test_data = split_data(data)
train_data_dummy, test_data_dummy = split_data(data_dummy)
train_data_norm, test_data_norm = split_data(data_norm)

# Define models using Turicreate library

## Baseline model: most popular items

In [33]:
# constant variables to define filed names
user_id = 'customerId'
item_id = 'productId'
users_to_recommend = list(customers[user_id])
n_rec = 10
n_display = 30 # to display the first few rows in an output dataset

In [48]:
# Turicreate is a great library
def model(train_data, name, user_id, item_id, target,
         users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data,
                                                user_id = user_id,
                                                item_id = item_id,
                                                target = target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data,
                                                     user_id = user_id,
                                                     item_id = item_id,
                                                     target = target,
                                                     similarity_type = 'cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data,
                                                     user_id = user_id,
                                                     item_id = item_id,
                                                     target = target,
                                                     similarity_type = 'pearson')
#     recom = model.recommend(users = users_to_recommend, k = n_rec)
    return model

# Popularity model as baseline

In [54]:
name = 'popularity'
target = 'purchase_count'
popularity_model = model(train_data, name, user_id, item_id, target,
                  users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 106868 observations with 23326 users and 300 items.

    Data prepared in: 0.126598s

106868 observations to process; with 300 unique items.

In [57]:
popularity_model.recommend(users_to_recommend, k = n_rec).print_rows(30)

recommendations finished on 1000/1000 queries. users per second: 139704

+------------+-----------+--------------------+------+
| customerId | productId |       score        | rank |
+------------+-----------+--------------------+------+
|    1553    |    132    | 3.1403508771929824 |  1   |
|    1553    |     37    | 3.022727272727273  |  2   |
|    1553    |     0     | 2.9611273080660836 |  3   |
|    1553    |     34    | 2.9243027888446216 |  4   |
|    1553    |    248    | 2.909090909090909  |  5   |
|    1553    |     3     | 2.8410041841004183 |  6   |
|    1553    |    230    | 2.746376811594203  |  7   |
|    1553    |    110    | 2.694610778443114  |  8   |
|    1553    |     27    | 2.671641791044776  |  9   |
|    1553    |     32    |       2.635        |  10  |
|   20400    |    132    | 3.1403508771929824 |  1   |
|   20400    |     37    | 3.022727272727273  |  2   |
|   20400    |     0     | 2.9611273080660836 |  3   |
|   20400    |     34    | 2.9243027888446216 |  4   |
|   20400    |    248    | 2.909090909090909  |  5   |
|   20400    |     3     | 2.8410041841004183 |  6   |
|   20400    |    230    | 2.746376811594203  |  7   |
|   20400    |    110    | 2.694610778443114  |  8   |
|   20400    |     27    | 2.671641791044776  |  9   |
|   20400    |     32    |       2.635        |  10  |
|   19750    |    132    | 3.1403508771929824 |  1   |
|   19750    |     37    | 3.022727272727273  |  2   |
|   19750    |     0     | 2.9611273080660836 |  3   |
|   19750    |     34    | 2.9243027888446216 |  4   |
|   19750    |    248    | 2.909090909090909  |  5   |
|   19750    |     3     | 2.8410041841004183 |  6   |
|   19750    |    230    | 2.746376811594203  |  7   |
|   19750    |    110    | 2.694610778443114  |  8   |
|   19750    |     27    | 2.671641791044776  |  9   |
|   19750    |     32    |       2.635        |  10  |
+------------+-----------+--------------------+------+
[10000 rows x 4 columns]

## use collaborative filter

In [58]:
name = 'cosine'
target = 'purchase_count'
cos = model(train_data, name, user_id, item_id, target,
           users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 106868 observations with 23326 users and 300 items.

    Data prepared in: 0.131408s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 2.206ms                        | 8.5        |

| 6.762ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 21.596ms                            | 0                | 0               |

| 25.464ms                            | 100              | 300             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.04765s

In [59]:
cos.recommend(users_to_recommend, k = n_rec).print_rows(n_display)

recommendations finished on 1000/1000 queries. users per second: 66357

+------------+-----------+----------------------+------+
| customerId | productId |        score         | rank |
+------------+-----------+----------------------+------+
|    1553    |     2     | 0.13774506747722626  |  1   |
|    1553    |     1     | 0.07800829410552979  |  2   |
|    1553    |     5     | 0.07741294801235199  |  3   |
|    1553    |     35    | 0.06270940601825714  |  4   |
|    1553    |    167    | 0.05358444154262543  |  5   |
|    1553    |     17    | 0.04725289344787598  |  6   |
|    1553    |    148    | 0.046237096190452576 |  7   |
|    1553    |     31    | 0.04357762634754181  |  8   |
|    1553    |     13    | 0.04239402711391449  |  9   |
|    1553    |    152    |  0.0413091778755188  |  10  |
|   20400    |    280    | 0.08716535568237305  |  1   |
|   20400    |    122    | 0.04911607503890991  |  2   |
|   20400    |     74    | 0.04235422611236572  |  3   |
|   20400    |     1     | 0.037989258766174316 |  4   |
|   20400    |    284    | 0.03784281015396118  |  5   |
|   20400    |     31    | 0.03766423463821411  |  6   |
|   20400    |     42    |  0.0361865758895874  |  7   |
|   20400    |    131    | 0.03553509712219238  |  8   |
|   20400    |    299    | 0.035108089447021484 |  9   |
|   20400    |    132    | 0.03446000814437866  |  10  |
|   19750    |     38    | 0.09025943279266357  |  1   |
|   19750    |     79    | 0.08830071489016215  |  2   |
|   19750    |     36    |  0.0851184328397115  |  3   |
|   19750    |     48    | 0.08332078655560811  |  4   |
|   19750    |     2     | 0.07795339822769165  |  5   |
|   19750    |     1     | 0.07755593458811443  |  6   |
|   19750    |     5     | 0.06208712855974833  |  7   |
|   19750    |    194    | 0.05267951885859171  |  8   |
|   19750    |     13    | 0.04787000020345052  |  9   |
|   19750    |     21    | 0.04699036478996277  |  10  |
+------------+-----------+----------------------+------+
[10000 rows x 4 columns]

In [61]:
name = 'pearson'
target = 'purchase_count'
pear = model(train_data, name, user_id, item_id, target,
           users_to_recommend, n_rec, n_display)
pear.recommend(users_to_recommend, k = n_rec).print_rows(n_display)

Preparing data set.

    Data has 106868 observations with 23326 users and 300 items.

    Data prepared in: 0.126125s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 11.738ms                       | 4.25       |

| 27.958ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 29.495ms                            | 0                | 0               |

| 62.666ms                            | 100              | 300             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.087669s

recommendations finished on 1000/1000 queries. users per second: 85440.9

+------------+-----------+--------------------+------+
| customerId | productId |       score        | rank |
+------------+-----------+--------------------+------+
|    1553    |    132    | 3.1403508771929824 |  1   |
|    1553    |     37    |  3.02168523452499  |  2   |
|    1553    |     0     | 2.9589822561099046 |  3   |
|    1553    |    248    | 2.9080011871728026 |  4   |
|    1553    |     34    | 2.9008225225119944 |  5   |
|    1553    |     3     | 2.8410041841004188 |  6   |
|    1553    |    230    | 2.740934192270472  |  7   |
|    1553    |    110    | 2.6946107784431135 |  8   |
|    1553    |     27    | 2.6716417910447756 |  9   |
|    1553    |     32    | 2.635000000000001  |  10  |
|   20400    |    132    | 3.1297424425158584 |  1   |
|   20400    |     37    | 3.0227272727272756 |  2   |
|   20400    |     0     | 2.9592742592646593 |  3   |
|   20400    |     34    | 2.9243027888446207 |  4   |
|   20400    |    248    | 2.9090909090909087 |  5   |
|   20400    |     3     | 2.8410041841004188 |  6   |
|   20400    |    230    | 2.7451235643331553 |  7   |
|   20400    |    110    | 2.6946107784431135 |  8   |
|   20400    |     27    | 2.6716417910447756 |  9   |
|   20400    |     32    | 2.635000000000001  |  10  |
|   19750    |    132    | 3.1403508771929824 |  1   |
|   19750    |     37    | 3.0227272727272756 |  2   |
|   19750    |     0     | 2.9602695972277635 |  3   |
|   19750    |     34    | 2.9153395516384797 |  4   |
|   19750    |    248    | 2.9068279889496886 |  5   |
|   19750    |     3     | 2.837058763914694  |  6   |
|   19750    |    230    | 2.7463768115942027 |  7   |
|   19750    |    110    | 2.6945298552037236 |  8   |
|   19750    |     27    | 2.6687774501036645 |  9   |
|   19750    |     32    | 2.632706562280656  |  10  |
+------------+-----------+--------------------+------+
[10000 rows x 4 columns]

In [62]:
models_w_counts = [popularity_model, cos, pear]

names_w_counts = ['Popularity Model on Purchase Counts', 'Cosine Similarity on Purchase Counts', 'Pearson Similarity on Purchase Counts']

# Evaluate the models

In [63]:
eval_counts = tc.recommender.util.compare_models(test_data,
                                                models_w_counts, model_names=names_w_counts)

PROGRESS: Evaluate model Popularity Model on Purchase Counts

recommendations finished on 1000/13825 queries. users per second: 89637.9

recommendations finished on 2000/13825 queries. users per second: 114489

recommendations finished on 3000/13825 queries. users per second: 124787

recommendations finished on 4000/13825 queries. users per second: 127535

recommendations finished on 5000/13825 queries. users per second: 134629

recommendations finished on 6000/13825 queries. users per second: 131380

recommendations finished on 7000/13825 queries. users per second: 125646

recommendations finished on 8000/13825 queries. users per second: 129128

recommendations finished on 9000/13825 queries. users per second: 129921

recommendations finished on 10000/13825 queries. users per second: 128100

recommendations finished on 11000/13825 queries. users per second: 126747

recommendations finished on 12000/13825 queries. users per second: 121113

recommendations finished on 13000/13825 queries. users per second: 115434

Precision and recall summary statistics by cutoff
+--------+-----------------------+-----------------------+
| cutoff |     mean_precision    |      mean_recall      |
+--------+-----------------------+-----------------------+
|   1    | 0.0010849909584086847 | 0.0005271104222279648 |
|   2    |  0.002893309222423152 | 0.0028978256021655645 |
|   3    |  0.008896925858951181 |  0.01452505579612273  |
|   4    |  0.007703435804701618 |  0.01641552024427251  |
|   5    |  0.006336347197106737 |  0.016723537121909566 |
|   6    |  0.006690777576853542 |  0.021060228760590438 |
|   7    | 0.0060449496254197975 |   0.0223231237920208  |
|   8    |  0.005687160940325492 |  0.02392843867526623  |
|   9    |  0.005368696001607366 |  0.025243803639817493 |
|   10   |  0.005236889692585906 |  0.02783968314708945  |
+--------+-----------------------+-----------------------+
[10 rows x 3 columns]


Overall RMSE: 1.2190371185061946

Per User RMSE (best)
+------------+------+-------+
| customerId | rmse | count |
+------------+------+-------+
|   18540    | 0.0  |   1   |
+------------+------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+------------+-------------------+-------+
| customerId |        rmse       | count |
+------------+-------------------+-------+
|    1453    | 39.04436012046734 |   6   |
+------------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+--------------------+-------+
| productId |        rmse        | count |
+-----------+--------------------+-------+
|    157    | 0.2519097447548934 |   96  |
+-----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+--------------------+-------+
| productId |        rmse        | count |
+-----------+--------------------+-------+
|    173    | 12.822513862495473 |   33  |
+-----------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model Cosine Similarity on Purchase Counts

recommendations finished on 1000/13825 queries. users per second: 99750.6

recommendations finished on 2000/13825 queries. users per second: 113199

recommendations finished on 3000/13825 queries. users per second: 114793

recommendations finished on 4000/13825 queries. users per second: 124016

recommendations finished on 5000/13825 queries. users per second: 124406

recommendations finished on 6000/13825 queries. users per second: 122224

recommendations finished on 7000/13825 queries. users per second: 120161

recommendations finished on 8000/13825 queries. users per second: 116862

recommendations finished on 9000/13825 queries. users per second: 114846

recommendations finished on 10000/13825 queries. users per second: 112666

recommendations finished on 11000/13825 queries. users per second: 109774

recommendations finished on 12000/13825 queries. users per second: 106685

recommendations finished on 13000/13825 queries. users per second: 106323

Precision and recall summary statistics by cutoff
+--------+----------------------+---------------------+
| cutoff |    mean_precision    |     mean_recall     |
+--------+----------------------+---------------------+
|   1    | 0.11522603978300278  | 0.06793969262440941 |
|   2    | 0.09634719710669101  | 0.11183088106542127 |
|   3    | 0.08081977094635319  | 0.13715332404338088 |
|   4    | 0.07052441229656382  | 0.15819889717946523 |
|   5    | 0.06343580470162737  | 0.17632855072864723 |
|   6    |  0.0573960216998189  | 0.19022280142470693 |
|   7    |  0.0526065616119867  | 0.20256732858731685 |
|   8    | 0.04868896925858949  | 0.21415273000526858 |
|   9    | 0.045473176612417135 | 0.22366008257355333 |
|   10   | 0.04302350813743229  | 0.23481439761756073 |
+--------+----------------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 1.9980972390960676

Per User RMSE (best)
+------------+---------------------+-------+
| customerId |         rmse        | count |
+------------+---------------------+-------+
|   24454    | 0.09348917007446289 |   1   |
+------------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+------------+--------------------+-------+
| customerId |        rmse        | count |
+------------+--------------------+-------+
|    1453    | 40.236520087032964 |   6   |
+------------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+--------------------+-------+
| productId |        rmse        | count |
+-----------+--------------------+-------+
|    157    | 1.0333375356323702 |   96  |
+-----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+--------------------+-------+
| productId |        rmse        | count |
+-----------+--------------------+-------+
|    173    | 13.269190111113895 |   33  |
+-----------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model Pearson Similarity on Purchase Counts

recommendations finished on 1000/13825 queries. users per second: 104635

recommendations finished on 2000/13825 queries. users per second: 117654

recommendations finished on 3000/13825 queries. users per second: 123426

recommendations finished on 4000/13825 queries. users per second: 129811

recommendations finished on 5000/13825 queries. users per second: 134131

recommendations finished on 6000/13825 queries. users per second: 123049

recommendations finished on 7000/13825 queries. users per second: 125069

recommendations finished on 8000/13825 queries. users per second: 126219

recommendations finished on 9000/13825 queries. users per second: 124813

recommendations finished on 10000/13825 queries. users per second: 118566

recommendations finished on 11000/13825 queries. users per second: 117921

recommendations finished on 12000/13825 queries. users per second: 110802

recommendations finished on 13000/13825 queries. users per second: 111290

Precision and recall summary statistics by cutoff
+--------+-----------------------+-----------------------+
| cutoff |     mean_precision    |      mean_recall      |
+--------+-----------------------+-----------------------+
|   1    | 0.0011573236889692578 | 0.0005632767875082575 |
|   2    | 0.0029656419529837086 |  0.002952075150086007 |
|   3    |  0.00877637130801691  |  0.014211613963693534 |
|   4    |  0.007703435804701583 |  0.016427575699365884 |
|   5    |  0.006350813743218766 |  0.016759703487190004 |
|   6    | 0.0067028330319469755 |   0.0210963951258708  |
|   7    |  0.006055282872642705 |  0.022359290157301027 |
|   8    |  0.005714285714285736 |  0.02407310413638747  |
|   9    |  0.005400843881856538 |  0.025412580011125365 |
|   10   |  0.005273056057866194 |  0.02805668133877112  |
+--------+-----------------------+-----------------------+
[10 rows x 3 columns]


Overall RMSE: 1.216139435011238

Per User RMSE (best)
+------------+-----------------------+-------+
| customerId |          rmse         | count |
+------------+-----------------------+-------+
|    7459    | 7.369393203848773e-05 |   1   |
+------------+-----------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+------------+-------------------+-------+
| customerId |        rmse       | count |
+------------+-------------------+-------+
|    1453    | 39.04145616510876 |   6   |
+------------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+---------------------+-------+
| productId |         rmse        | count |
+-----------+---------------------+-------+
|    157    | 0.25109370523080854 |   96  |
+-----------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+--------------------+-------+
| productId |        rmse        | count |
+-----------+--------------------+-------+
|    173    | 12.822271108270263 |   33  |
+-----------+--------------------+-------+
[1 rows x 3 columns]

# final model

In [67]:
final_model = tc.item_similarity_recommender.create(tc.SFrame(data_dummy), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='purchase_dummy', similarity_type='cosine')
recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

Warning: Ignoring columns purchase_count;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 133585 observations with 24429 users and 300 items.

    Data prepared in: 0.141312s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 709us                          | 4          |

| 5.868ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 6.776ms                             | 0                | 0               |

| 17.692ms                            | 100              | 300             |

+-------------------------------------+------------------+-----------------+

+------------+-----------+----------------------+------+
| customerId | productId |        score         | rank |
+------------+-----------+----------------------+------+
|    1553    |     2     | 0.12324784994125366  |  1   |
|    1553    |     35    | 0.10447167158126831  |  2   |
|    1553    |     1     | 0.10348175764083863  |  3   |
|    1553    |     5     |  0.0906752586364746  |  4   |
|    1553    |     17    | 0.07659814357757569  |  5   |
|    1553    |     21    | 0.07491707801818848  |  6   |
|    1553    |     8     | 0.06811234951019288  |  7   |
|    1553    |     33    |  0.0668614387512207  |  8   |
|    1553    |     47    | 0.06058878898620605  |  9   |
|    1553    |     61    | 0.060317397117614746 |  10  |
|   20400    |     26    | 0.05812269449234009  |  1   |
|   20400    |     6     | 0.05361741781234741  |  2   |
|   20400    |    113    | 0.05312788486480713  |  3   |
|   20400    |     1     | 0.05210459232330322  |  4   |
|   20400    |     15    | 0.047683894634246826 |  5   |
|   20400    |     27    | 0.044673383235931396 |  6   |
|   20400    |     13    | 0.04383981227874756  |  7   |
|   20400    |    246    | 0.04373115301132202  |  8   |
|   20400    |     4     | 0.04242873191833496  |  9   |
|   20400    |     9     | 0.04190206527709961  |  10  |
|   19750    |     48    |  0.132284144560496   |  1   |
|   19750    |     36    | 0.12405195832252502  |  2   |
|   19750    |     38    | 0.12345944841702779  |  3   |
|   19750    |     79    | 0.10431413849194844  |  4   |
|   19750    |     1     |  0.1038620372613271  |  5   |
|   19750    |     2     | 0.09022133549054463  |  6   |
|   19750    |     21    | 0.07398815949757893  |  7   |
|   19750    |     14    | 0.07129199306170146  |  8   |
|   19750    |     5     | 0.07093353072802226  |  9   |
|   19750    |     17    | 0.06506650646527608  |  10  |
+------------+-----------+----------------------+------+
[10000 rows x 4 columns]

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.02372s

recommendations finished on 1000/1000 queries. users per second: 64028.7

In [69]:
recom.to_dataframe().head()

   customerId  productId     score  rank
0        1553          2  0.123248     1
1        1553         35  0.104472     2
2        1553          1  0.103482     3
3        1553          5  0.090675     4
4        1553         17  0.076598     5

# create a beautiful output

In [70]:
def create_output(model, users_to_recommend, n_rec, print_csv=True):
    recomendation = model.recommend(users=users_to_recommend, k=n_rec)
    df_rec = recomendation.to_dataframe()
    df_rec['recommendedProducts'] = df_rec.groupby([user_id])[item_id] \
        .transform(lambda x: '|'.join(x.astype(str)))
    df_output = df_rec[['customerId', 'recommendedProducts']].drop_duplicates() \
        .sort_values('customerId').set_index('customerId')
    if print_csv:
        df_output.to_csv('../output/option1_recommendation.csv')
        print("An output file can be found in 'output' folder with name 'option1_recommendation.csv'")
    return df_output

In [72]:
df_output = create_output(pear, users_to_recommend, n_rec, print_csv=True)
print(df_output.shape)
df_output.head()

recommendations finished on 1000/1000 queries. users per second: 122264

An output file can be found in 'output' folder with name 'option1_recommendation.csv'
(1000, 1)

                        recommendedProducts
customerId
4           132|37|0|34|248|3|230|110|27|32
11          132|37|0|34|248|3|230|110|27|32
12          132|37|0|34|248|3|230|110|27|32
16          132|37|0|34|248|3|230|110|27|32
21          132|37|0|34|248|3|230|110|27|32